# Server Configuration
# --------------------
# Select a port to listen for clients on
ServerPort 5556
# How many clients can be connected at the same time
MaxClients 10
SystemLogPath logs/
# Whitelist whitelist.cfg
# BanList banlist.cfg

# Message Settings
# ----------------
MaxMessageLength 120
# Scroll messages that exceeds LCDRows parameter
ScrollLongMessages 1
# How fast the message should scroll (Move 1 character per X ms)
ScrollSpeed 50
# Location where messages should be stored
MessageLogPath logs/
DatabaseFile teletexter.db

# Enable this if you want to use your own layout style
# LayoutFile layout.tel


# User Configuration
# ------------------
# Max length of nicknames (will return error if longer)
MaxNicknameLength 6
# All clients connecting must send IDENT followed by a nickname before sending MSG
# if MSG is sent without IDENT, nickname parameter will show as empty
# If enabled all users who connect must also identify with a password (IDENT userName password)
EnablePassword 1
# Where all user info is stored
UserFiles users/



# LCD Panel Settings
# ------------------
# The total of lines your display have
LCDCols 2
# The total of characters 1 line can hold
LCDRows 16
# The address of your I2C LCD display
LCDAddress 0x27
# LCD Device file
LCDDeviceFile /dev/i2c-1


# GPIO Settings
# NextMessagePIN 17
# DeleteMessagePIN 18
# 



# LCD address parameters
#    !!!! NOTE !!!!
# Do NOT EDIT these variables if you DO NOT KNOW wtf you do!
# ----------------------

# Backlight on command bit
LCDBacklight 0x08
# Turn off backlight
LCDNoBacklight 0x00
# Address of line 1
LCDLine1 0x80
# Address of line 2
LCDLine2 0xC0
# Address of line 3
LCDLine3 0x94
# Address of line 4
LCDLine4 0xD4
# Clear display address
LCDClrDisp 0x01
# Enable bit
LCDEnableBit 0b00000100
