
# ====================
# Server Configuration 
# ====================
Port 5553

# How many can be connected at the same time
MaxClients 10

# =====================
# Message Configuration
# =====================

MaxMessageLength  120

# The layout file you want to use (how date, user, etc is ordered)
DisplayTextLayout layout.tel

# =====================
# User Configuration
# =====================
# Max length of nicknames (will return error if longer)
MaxNicknameLength 6
# All clients connecting must send IDENT followed by a nickname before sending MSG
# if MSG is sent without IDENT, nickname parameter will show as empty
MustIdentify 1
# If enabled all users who connect must also identify with a password (IDENT userName password)
EnablePassword 0
# Where all user info is stored
UserFilePath data/

# =====================
# Logging Configuration
# =====================
MessageLogPath logs/
SystemLogPath logs/


# =======================
# LCD Panel Configuration
# =======================


# The total of lines your display have
LCDColumns 2

# The total of characters 1 line can hold
LCDRows 16

# LCD Panel bit-address configurations 

# The address of your I2C LCD display
LCDAddress 0x27
LCDBacklight 0x08
LCDNoBacklight 0x00

LCDLine1 0x80
LCDLine2 0xC0
LCDLine3 0x94
LCDLine4 0xD4
LCDClrDisp 0x01
LCDEnableBit 0b00000100