[Unit]
Description=Teletexter Service
After=network.target

[Service]
ExecStart=/usr/local/sbin/teletexter
WorkingDirectory=/usr/local/sbin
Restart=always
User=nobody
Group=nogroup
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=teletexter

[Install]
WantedBy=multi-user.target
